html,body {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

#pagAppWindow_bloqueConversacionContacto {
    height: 10% !important;
    background-color: #fef5f6;
}

#pagAppWindow_bloqueConversacionListaMensajes{    
    
}

#pagAppWindow_bloqueConversacionEnviarMensaje{
    
}
#panel-izquierdo{
    z-index: 0;
}

#panel-derecho{
    z-index: 0;
}

#pagAppWindow_bloqueIzquierdoNavbar{
    height: 10% !important;
    background-color: #fef5f6;
}

#pagAppWindow_bloqueIzquierdoConversaciones{
}

.conversacionBoxUltimoMensaje {
    position: relative !important;
}

.conversacionBoxUltimoMensajeFecha{
    position: absolute !important;
    right: 1%;
}

.conversacionBoxAbierta {
    /*background-color: #fef9f0;*/
    background-color: #efe3e5;
}

.mensajeBoxRecibido {
    background-color: #f9dca6;
}

.mensajeBoxEnviado {
    background-color: #ef95a3;
}

.mensajeBoxContenido{
    overflow-wrap: break-word;
}

#pagAppWindow_capaAgenda{
    z-index: 99999999;
    background-color: #f8f9fad9;
}

.iconosOpcionesContacto{
    right: 5%;
    top: 10%;
}

.iconoCerrarVentana{
    right: -2%;
    top: -2%;
    z-index: 999999;
}

.btn-noFocus:focus{
    outline: none !important;
}