html,body {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

#pagAppWindow_bloqueConversacionContacto {
    height: 10% !important;
    background-color: #fef5f6;
}

#pagAppWindow_bloqueConversacionListaMensajes{    
    
}

#pagAppWindow_bloqueConversacionEnviarMensaje{
    
}
#panel-izquierdo{
    z-index: 0 !important;
}

#panel-derecho{
    z-index: 0 !important;
}

#pagAppWindow_bloqueIzquierdoNavbar{
    height: 10% !important;
    background-color: #fef5f6;
}

#pagAppWindow_bloqueIzquierdoConversaciones{
}

.conversacionBoxUltimoMensaje {
    position: relative !important;
}

.conversacionBoxUltimoMensajeFecha{
    position: absolute !important;
    right: 1%;
}

.conversacionBoxAbierta {
    /*background-color: #fef9f0;*/
    background-color: #efe3e5 !important;
}

.mensajeBoxRecibido {
    background-color: #f9dca6;
}

.mensajeBoxEnviado {
    background-color: #ef95a3;
}

.mensajeBoxContenido{
    overflow-wrap: break-word;
}

#pagAppWindow_capaAgenda{
    z-index: 99999999;
    background-color: #6c757ddb;
}

#pagAppWindow_capaAbrirConversacion {
    z-index: 99999999;
    background-color: #6c757ddb;
}

.iconosOpcionesContacto{
    right: 5%;
    top: 10%;
}
.iconosOpcionesConversacion{
    right: 0%;
    top: 10%;
}

.iconoCerrarVentana{
    right: 1%;
    top: 1%;
    padding: 0;
    z-index: 999999;
}

.iconoNuevoMensajeConversacion{
    color: #891436 !important;
}

.btn-noFocus:focus{
    outline: none !important;
}

.scrollbarInvisible::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE and Edge */
.scrollbarInvisible {
    -ms-overflow-style: none !important;
}

.capaNotificaciones{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(128,128,128, 0.2);
    z-index: 9999999999 !important;
    
}
.contenedorTooltipCodInvitacion{
    max-width: 200px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

.mensajeBoxRemitente{
    color: #ef95a3;
}