<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo-tfg.css">

    <title>US-P2PMessenger</title>
</head>

<body>
    <div id="main" class="row h-100">
        <div id="panel-izquierdo" class="col-6 h-100"></div>
        <div id="panel-derecho" class="col-6 h-100"></div>
    </div>


    <script type="text/javascript">

        var jsConnector = {
            showResult: function (result) {
                document.getElementById('result').innerHTML = result;
            }
        };

        function getJsConnector() {
            return jsConnector;
        };
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>