<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo-tfg.css">

    <title>US-P2PMessenger</title>
</head>

<body class="d-flex align-items-center justify-content-center">
    <div class="container card row p-5 shadow-sm">
        <img class="col-8 col-md-4 mx-auto" src="../img/Logo_US.png"/>
        <h1 class="text-center">P2P Messenger</h1>
        <form class="col-12">
            <div class="form-group">
                <label for="ipPastry">Dirección IP</label>
                <input type="text" class="form-control" id="ipPastry" placeholder="Introduzca la IP de la red Pastry">
            </div>
            <div class="form-group">
                <label for="portPastry">Puerto</label>
                <input type="text" class="form-control" id="portPastry" placeholder="Introduzca el puerto de la red Pastry">
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" onclick="botonSignIn();">Entrar</button>
            </div>
            
        </form>

    </div>


    <script type="text/javascript">
        function goToHelloAgain () {
            javaConnector.cargarPagina("../../app/src/main/java/us/tfg/p2pmessenger/view/web/html/helloagain.html");
        };

        var jsConnector = {
            showResult: function (result) {
                document.getElementById('result').innerHTML = result;
            }
        };

        function getJsConnector() {
            return jsConnector;
        };
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>