<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo-tfm.css">

    <title>US-P2PMessenger</title>
</head>

<body class="d-flex align-items-center justify-content-center">
    <div class="container card row p-5 shadow-sm">
        <img class="col-8 col-md-4 mx-auto" src="../img/Logo_US.png"/>
        <h1 class="text-center">P2P Messenger</h1>
        <h5>Iniciar sesión</h5>
        <form class="col-12">
            <div class="form-group">
                <label for="pagInicioSesion_formFieldUser">Usuario</label>
                <input type="text" class="form-control" id="pagInicioSesion_formFieldUser" placeholder="Introduzca su nombre de usuario">                
            </div>
            <div class="form-group">
                <label for="pagInicioSesion_formFieldPass">Contraseña</label>
                <input type="password" class="form-control" id="pagInicioSesion_formFieldPass" placeholder="Introduzca su contraseña">
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" onclick="pagInicioSesion_onClickAutenticar();">Entrar</button>
            </div>
            <div class="col-12 text-center">
                <small id="sugerenciaRegistro" class="form-text text-muted">¿No estás registrado? <span class="btn-link" onclick="pagInicioSesion_onClickRegistrar()">Regístrate</span></small>
            </div>
            
        </form>

    </div>
    <div id="pagInicioSesion_bloqueNotificacionError" class="capaNotificaciones d-none align-items-center">        
        <div class="shadow-sm p-5 text-center bg-white m-auto col-11 col-lg-8">
                <h4 id="pagInicioSesion_mensajeNotificacionError" class="mb-3"></h4>
                <button id="pagInicioSesion_botonCerrarNotificacionError" type="button" class="btn btn-danger" onclick="pagInicioSesion_onClickCerrarNotificacionError();">OK</button>
            </div>
    </div>

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/inicioSesion.js"></script>
    <script src="../js/tfm.js"></script>    
</body>

</html>